<div class="container text-center">
  <h1>Previous Work</h1>
  <div class="experiences">
  	<div class="experience row">
  		<div class="col-md-4">
  			<h4>Fisher & Paykel Healthcare</h4>
  			<p class="experience-period">
  				January 2016				-
  				current			</p>
  		</div>
  		<div class="col-md-8">
  			<p>
  				<strong>DevOps Engineer</strong>
  				<span class="hidden-phone">
  					</span>
  				<span class="experience-details">
  					<span class="location">
  						<span class="glyphicon glyphicon-map-marker"></span>
  						Auckland, Zealand</span>
  					<span class="seperator">|</span>
  					<span class="link">
  						<span class="glyphicon glyphicon-link"></span>
  						<a href="http://startselect.com" target="_blank">http://startselect.com</a>
  					</span>


  				</span>
  			</p>
  		</div>
  	</div>


  	<div class="experience row">
  		<div class="col-md-4">
  			<h4>The Secret Lab</h4>
  			<p class="experience-period">
  				Nov 2017				-
  				January 2018		</p>
  		</div>
  		<div class="col-md-8">
  			<p>
  				<strong>Fulltime - Senior Web Developer</strong>
  				<span class="hidden-phone">
  					As a senior at The Secret Lab I work on projects like Kaartjes.nl, Clay.com and more. Using frameworks and technologies such as Laravel, Wordpress, Drupal 8 and ElasticSearch. I also introduced working with Git Flow and supporting my colleagues to write nice readable and reusable code. 				</span>
  				<span class="experience-details">
  					<span class="location">
  						<span class="glyphicon glyphicon-map-marker"></span>
  						Amsterdam					</span>


  					<span class="seperator">|</span>
  					<span class="link">
  						<span class="glyphicon glyphicon-link"></span>
  						<a href="http://thesecretlab.nl" target="_blank">http://thesecretlab.nl</a>
  					</span>
  				</span>
  			</p>
  		</div>
  	</div>

    <div class="experience row">
      <div class="col-md-4">
        <h4> Pb Technologies Ltd</h4>
        <p class="experience-period">
        Nov 2016          -
        Feb 2017          </p>
      </div>
      <div class="col-md-8">
        <p>
          <strong>Software Developer Intern</strong>
          <span class ="hidden-phone">
            Develope an application for identifying and merging duplicate customer acccounts
          </span>

        </p>

      </div>
    </div>
	</div>
</div>
