<div class="container text-center">
  <h1>Previous Work</h1>
  <div class="experiences">
  	<div class="experience row">
  		<div class="col-md-4">
  			<h4>Fisher & Paykel Healthcare</h4>
  			<p class="experience-period">
  				January 2018				-
  				current			</p>
  		</div>
  		<div class="col-md-8">
  			<p>
  				<strong>DevOps Engineer</strong>
  				<span class="hidden-phone">
            I work as a developer operation engineer. My responsibilities include automating and streamline the development process of our product from software for apnea devices to internal software.
  					</span>
  				<span class="experience-details">
  					<span class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
  						Auckland, Zealand</span>
  					<span class="seperator">|</span>
  					<span class="link">
  						<span class="glyphicon glyphicon-link"></span>
  						<a href="https://www.fphcare.com/" target="_blank">Fisher & Paykel Healthcare</a>
  					</span>
  				</span>
  			</p>
  		</div>
  	</div>


  	<div class="experience row">
  		<div class="col-md-4">
  			<h4>The University of Auckland</h4>
  			<p class="experience-period">
  				Nov 2017				-
  				January 2018		</p>
  		</div>
  		<div class="col-md-8">
  			<p>
  				<strong>Summer Research Student</strong>
  				<span class="hidden-phone">
  				    I research and develop a python framework for anamoly detection using deep forest</span>
  				<span class="experience-details">
  					<span class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
  						Auckland, New Zealand					</span>
  					<span class="seperator">|</span>
  					<span class="link">
  						<span class="glyphicon glyphicon-link"></span>
  						<a href="https://www.auckland.ac.nz/en.html" target="_blank">The University of Auckland</a>
  					</span>
  				</span>
  			</p>
  		</div>
  	</div>

    <div class="experience row">
      <div class="col-md-4">
        <h4> Pb Technologies Ltd</h4>
        <p class="experience-period">
        Nov 2016          -
        Feb 2017          </p>
      </div>
      <div class="col-md-8">
        <p>
          <strong>Software Developer Intern</strong>
          <span class ="hidden-phone">
            Develope an application for identifying and merging duplicate customer acccounts
          </span>
          <span class="experience-details">
  					<span class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
  						Auckland, New Zealand					</span>
  					<span class="seperator">|</span>
  					<span class="link">
  						<span class="glyphicon glyphicon-link"></span>
  						<a href="https://www.pbtech.co.nz/" target="_blank">Pb Technologies</a>
  					</span>
  				</span>
        </p>
      </div>
    </div>
	</div>
</div>
