<div class="container text-center">
  <h1>Previous Work</h1>
  <div class="experiences">


	<div class="experience row">
		<div class="col-md-4">
			<h4>Startselect | Online Prepaid Services</h4>
			<p class="experience-period">
				May 2016				-
				current			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fulltime - Senior Web Developer</strong>
				<span class="hidden-phone">
					Working as a Senior Devloper on a large european based webshop for digital games and gifrcards. The application is Laravel based and as a team we are working in a fully scrum way. . 				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Eindhoven					</span>


					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://startselect.com" target="_blank">http://startselect.com</a>
					</span>


				</span>
			</p>
		</div>
	</div>


	<div class="experience row">
		<div class="col-md-4">
			<h4>The Secret Lab</h4>
			<p class="experience-period">
				Aug 2015				-
				Apr 2016			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fulltime - Senior Web Developer</strong>
				<span class="hidden-phone">
					As a senior at The Secret Lab I work on projects like Kaartjes.nl, Clay.com and more. Using frameworks and technologies such as Laravel, Wordpress, Drupal 8 and ElasticSearch. I also introduced working with Git Flow and supporting my colleagues to write nice readable and reusable code. 				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Amsterdam					</span>


					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://thesecretlab.nl" target="_blank">http://thesecretlab.nl</a>
					</span>


				</span>
			</p>
		</div>
	</div>




	</div>
</div>
