<div class="container text-center">
  <div id="content" class="name-title">
    <h1>John Pham</h1>
    <h2 >Software - Machine Learning - DevOps</h2>
    <h2 >Engineer</h2>
  </div>
  <div class="col">
    <div class="education">
      <i class="fa fa-university fa-3x" aria-hidden="true"> </i>
      <h2 > The University of Auckland </h2>
    </div>
    <div class="company">
      <i class="fa fa-building fa-3x" aria-hidden="true"></i>
      <h2>Fisher & Paykel Healthcare</h2>
    </div>
  </div>
</div>


