<div class="container text-center">
  <div id="content" class="name-title">
    <div class="page-title">
      <h1>John Pham</h1>
    </div>
    <div class="disciplines-container">
      <!-- <div>
        <ul class= "disciplines">
        </ul>
      </div> -->
        <div class="progress-container">
          <ul class= "progressbar">
            <li><h2>Sofware</h2></li>
            <li><h2>Machine Learning</h2></li>
            <li class ="active"><h2>DevOps</h2></li>
          </ul>
        </div>
  </div>
  <h2>Engineer</h2>
  <div class="col">
    <div class="education">
      <i class="fa fa-university fa-3x" aria-hidden="true"> </i>
      <h2 > The University of Auckland </h2>
    </div>
    <div class="company">
      <i class="fa fa-building fa-3x" aria-hidden="true"></i>
      <h2>Fisher & Paykel Healthcare</h2>
    </div>
  </div>
</div>
