<footer class="container text-center bg-inverse">
  <div class="row">
    <div class="col-sm-4">
      <h5>Find me @</h5>
    </div>
    <div class="col-sm-4">
      <a id="github" href="https://github.com/JohPa8696" target="_blank" class="fa fa-github fa-2x"></a>
      <a id="linkedin" href="https://www.linkedin.com/in/john-pham-147870bb/" target="_blank" class="fa fa-linkedin fa-2x"></a>
      <a id="quora" href="https://www.quora.com/profile/John-Van-Pham" target="_blank" class="fa fa-quora fa-2x"></a>
    </div>
  </div>
</footer>
