<div class="container text-center">
  <h1>Projects and Hackathons</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card-columns">
        <div class="card">
          <div class="card-header bg-l">
            Fall Detection System
            <span style="float: right;">System</span>
          </div>
          <div class="card-block">
            <div class="card-subtitle mb-2 text-muted">
              <span class="badge badge-success">C#</span>
              <span class="badge badge-success">Java</span>
              <span class="badge badge-info">Firebase</span>
              <span class="badge badge-info">Microsoft Kinect</span>
              <span class="badge badge-primary">Accord.net</span>
            </div>
            C# asjdfklsaj aksdf I dont like typing that much
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-l">
            Fall Detection System
            <span style="float: right;">System</span>
          </div>
          <div class="card-block">
            <div class="card-subtitle mb-2 text-muted">
              <span class="badge badge-success">C#</span>
              <span class="badge badge-success">Java</span>
              <span class="badge badge-info">Firebase</span>
              <span class="badge badge-info">Microsoft Kinect</span>
              <span class="badge badge-primary">Accord.net</span>
            </div>
            C# asjdfklsaj aksdf I dont like typing that much
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
