<div class="container text-center">
  <h1>Projects and Hackathons</h1>
  <!-- FILTER -->
  <div class="table-responsive">

    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr >
          <th scope="col">Project Type</th>
          <th scope="col">Programming Languages</th>
          <th scope="col">Libararies/Frameworks</th>
          <th scope="col">Technologies</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="project-type">
            <h5><span class="badge badge-success" *ngFor="let typ of typeList" (click)="filter('type',typ)">{{typ}}</span></h5>
          </td>
          <td  class="languages">
            <h5><span class="badge badge-success"  *ngFor="let lan of languageList" (click)="filter('language',lan)">{{lan}}</span></h5>
          </td>
          <td  class="frameworks">
            <h5><span class="badge badge-success"  *ngFor="let fra of frameworkList" (click)="filter('framework',fra)">{{fra}}</span></h5>
          </td>
          <td  class="technologies">
            <h5><span class="badge badge-success"  *ngFor="let tec of technologyList" (click)="filter('technology',tec)">{{tec}}</span></h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="projects?.length > 0 ; else noProjects">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card-columns">

        <div class="card" *ngFor="let project of filteredProjects">
          <div class="card-header" [ngStyle]="getHeaderColor(project.type)" title= " A '{{project.type}}' software project">
            <a class="title" href="{{project.repoUrl}}"  target="_blank">{{project.title}}</a>
            <!-- <span style="float: right; color: black;">class="fa fa-github fa-2x"</span> -->
            <a href="{{project.repoUrl}}" class="fa fa-github fa-2x" target="_blank" ></a>
          </div>
          <div class="card-block">
            <div class="card-subtitle mb-2 text-muted">
              <span class="badge badge-warning" *ngFor="let pt of project.type">{{pt}}</span>
              <span class="badge badge-success" *ngFor="let l of project.languages">{{l}}</span>
              <span class="badge badge-info" *ngFor="let f of project.frameworks">{{f}}</span>
              <span class="badge badge-danger"  *ngFor="let t of project.technologies">{{t}}</span>
              <!-- <span class="badge badge-warning" *ngIf="project.ML">Machine Learning</span> -->
            </div>
            <div class ="description">
              <p *ngFor="let d of project.description">{{d}}</p>
            </div>
            <a data-toggle="collapse" href="#img_{{project.id}}" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block">
                <i class="fa fa-chevron-down"></i>
            </a>
            <div id="img_{{project.id}}" class="collapse hide" aria-labelledby="heading-example">

              <div id="{{project.title}}_carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let img of project.images; let i = index" [attr.data-index]="i" [ngClass]="[ i === 0 ? 'carousel-item active' : 'carousel-item' ]" >
                      <img  width="100%" height="100%" src="{{img}}" alt="{{ i }}_slide">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#{{project.title}}_carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#{{project.title}}_carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noProjects>
  <!-- <md-spinner></md-spinner> -->
  <h5> I'll add projects soon :)!!!</h5>
</ng-template>
