<nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
  <div class="container">
    <button class="navbar-toggler" id="nav-btn" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" id="logo" href="#"><img src="../assets/images/Logo2.png" width="150" height="75"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ml-auto" >
        <a class="nav-item nav-link" href="#" routerLink="/"><i class="fa fa-home fa-3x" aria-hidden="true"></i><br>Home</a>
        <a class="nav-item nav-link" href="#" routerLink="/about"><i class="fa fa-smile-o fa-3x" aria-hidden="true"></i><br>About Me</a>
        <a class="nav-item nav-link" href="#" routerLink="/contact"><i class="fa fa-briefcase fa-3x" aria-hidden="true"></i><br>Work</a>
        <a class="nav-item nav-link" href="../assets/resume/resume.pdf" target="_blank" ><i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i><br>Resume</a>
        <a class="nav-item nav-link" href="#" routerLink="/project"><i class="fa fa-cog fa-3x" aria-hidden="true"></i><br>Projects</a>
        <a class="nav-item nav-link" href="#" routerLink="/contact"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br>Contact</a>
      </div>
    </div>
  </div>
</nav>
