<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <!--<a class="navbar-brand pt-2" href="#"><img src="../assets/img/myob_logo_small.png" height="40px"></a>-->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a calss="nav-link" href="#" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a calss="nav-link" href="#" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a calss="nav-link" href="#" routerLink="/resume">Resume</a>
        </li>
        <li class="nav-item">
          <a calss="nav-link" href="#" routerLink="/project">Projects</a>
        </li>
        <li class="nav-item">
          <a calss="nav-link" href="#" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
