<h1>About Me</h1>
<p>
  Hello! I'm John. I studied Software Engineering at the University of Auckland. New Zealand.
  Currently, I am working at Fisher & Paykel Healthcare as a DevOps Engineer.

  I am interested in a variety of subjects including science, astronomy, music, AI/ML, and cooking.
  
  Here are few things, I do outside of work hours: projects, hackathons, read, working out, sports, play instruments.

  Feel free to take a look at my resume and contact me if you have any query.
</p>
