<div class="container text-center">
  <h1>About Me</h1>
  <span class="content">
    <span>
      Hello! I'm John and I graduated at the University of Auckland with a BE(Hons) in Software Engineering.
    </span> <br>
    <span>
      Right now, I work at <a href="https://www.fphcare.com/">Fisher & Paykel Healthcare</a> as a DevOps Engineer.
    </span> <br>
    <span>
      I am interested in a variety of subjects including science, astronomy, music, AI/ML, and cooking.
      Here are few things, I do outside of work hours: projects, hackathons, read, working out, sports, play instruments.
      Feel free to take a look at my resume and contact me if you have any query.
    </span>

  </span>

</div>
